body{
	margin: 0;
}
.box{
	background-color: #0db148;
	color: white;
	width: 500px;
	padding: 80px 65px;
	border-radius: 25%px;
	margin-left: auto;
	margin-right: auto;
}
h1{
	font-size: 45px;
	font-weight: 900;
}
img{
	max-width:100%;
	border-width:10px;
	border-style:dashed;
	border-color: #fcd206;
}
.box p{  font-size: 18px;
	line-height: 1;
}
.container{
	width: 1200px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;

}
.product{
	padding: 15px;
	flex-basis: 33.33%;
	box-sizing: border-box;
}
h3{
	font-size: 25px;
}

h3 strong{

}
h3 span{
	font-weight: 300;
	text-decoration: line-through;
	font-style: italic;
	font-size: 20px;
}
button{
	background: #0db148;
	color: white;
	font-size: 20px;
	padding: 12px 50px;
	border: 2px solid #0db148;
	border-radius: 8px;
	cursor: pointer;
}
button:hover{
	background: transparent;
	color:#0db148;
}
.product-box{
	box-shadow: 0 0 50px;
	color: #33333336;
	padding: 30px;
	border-radius: 10px;
}



